<div class="journey mb-5" id="journey">
    <p class="l-title text-center">My <span class="l-title-sec">Journey</span></p>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-11">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6">
            <p>Education</p>
            <div class="card l-excard">
              <div class="card-body">
                <p class="small l-time">2020-Present</p>
                <p class="mb-0">undergraduate BSE(Hons).Software Engineering</p>
                <p class="small">The Open University Sri Lanka</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <p>Experience</p>
            <div class="card l-excard">
              <div class="card-body">
                <p class="small l-time">2023-2024</p>
                <p class="mb-0">Trainee UI Developer</p>
                <p class="small">Portion (pvt) Ltd.</p>
              </div>
            </div>
            <div class="card l-excard mt-1">
              <div class="card-body">
                <p class="small l-time">2024-Present</p>
                <p class="mb-0">Web Developer</p>
                <p class="small">Freelancer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  